---
import Layout from "../../layouts/Layout.astro"
import NavbarSign from "../../components/Navbar_sign.astro";
import FooterSign from "../../components/Footer_sign.astro"
---

<Layout title="Netflix">
    <main>
        <NavbarSign />

        <section class="py-10">
            <div class="flex flex-col items-center justify-center">
                <div class="w-[35%] text-center">
                    <img src="/candado.png" class="mx-auto" alt="candado_image">
                    <h5 class="text-sm mt-8">STEP <span class="font-bold">4</span> OF <span class="font-bold">4</span></h5>
                    <h1 class="font-bold text-4xl">Choose how you wanna pay</h1>
                    <h3 class="mt-3 text-lg">Your payment is encrypted and you can change it whenever you want</h3>
                    <h3 class="mt-2 text-lg font-semibold">Safe transactions and reliable. Cancel easy online.</h3>
                    <div class="w-full flex justify-end items-center mt-3">
                        <h6 class="text-sm">End-to-end encryption</h6>
                        <img class="w-6" src="/candado_amarillo.png" alt="candado_amarillo_image">
                    </div>
                    <div id="payment_1" class="flex items-center w-full border-2 border-gray-400 rounded px-3 py-3 cursor-pointer mb-2">
                        <div class="w-5/6 flex">
                            <h4 class="mr-3">Credit or debit card</h4>
                            <img class="mx-1" src="/VISA.png" alt="payment_image">
                            <img class="mx-1" src="/MASTERCARD.png" alt="payment_image">
                            <img class="mx-1" src="/AMEX.png" alt="payment_image">
                            <img class="mx-1" src="/CARNET.png" alt="payment_image">
                        </div>
                        <div class="w-1/6 flex justify-end">
                            <img src="/adelante_negro.png" alt="adelante_negro_image" class="w-5">
                        </div>
                    </div>
                    <div id="payment_2" class="flex items-center w-full border-2 border-gray-400 rounded px-3 py-3 cursor-pointer mb-2">
                        <div class="w-5/6 flex items-center">
                            <h4 class="mr-2">OXXO PAY (MEXICO)</h4>
                            <img src="/OXXO.png" alt="payment_image">
                        </div>
                        <div class="w-1/6 flex justify-end">
                            <img src="/adelante_negro.png" alt="adelante_negro_image" class="w-5">
                        </div>
                    </div>
                    <div id="payment_3"class="flex items-center w-full border-2 border-gray-400 rounded px-3 py-3 cursor-pointer">
                        <div class="w-5/6 flex items-center">
                            <h4 class="mr-2">Gift card (OBVIOUSLY DOESN'T WORK)</h4>
                            <img src="/GIFT_CODE.png" alt="payment_image">
                        </div>
                        <div class="w-1/6 flex justify-end">
                            <img src="/adelante_negro.png" alt="adelante_negro_image" class="w-5">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <FooterSign />
    </main>

    <script>
        var payment_1 = document.getElementById("payment_1");
        var payment_2 = document.getElementById("payment_2");
        var payment_3 = document.getElementById("payment_3");

        const email = new URLSearchParams(window.location.search).get("email");
        const password = new URLSearchParams(window.location.search).get("password");
        const plan = new URLSearchParams(window.location.search).get("plan");

        payment_1.addEventListener('click', () => {
            window.location.href = `/signup/creditoption?email=${email}&password=${password}&plan=${plan}`
        });

        payment_2.addEventListener('click', () => {
            window.location.href = `/signup/cashPaymentOption?email=${email}&password=${password}&plan=${plan}`
        });

        payment_3.addEventListener('click', () => {
            window.location.href = `/signup/giftoption?email=${email}&password=${password}&plan=${plan}`
        });
    </script>
</Layout>
